.Breed-box {
  background: #26282f;
  border-radius: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #b1b1b1;
}

.BreedBoxs {
  background: #000000;
  border-radius: 16px;
  box-shadow: 0px 0px 15px rgba(254, 75, 62, 0.25);
}

.BreedminiBox {
  background: linear-gradient(
    90deg,
    rgba(243, 68, 30, 0.5) 0%,
    rgba(243, 119, 30, 0.5) 48.96%,
    rgba(243, 68, 30, 0.5) 100%
  );
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  color: #ffffff;
}

.breedboxs12 {
  background: #1e0003;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(16px);
  border-radius: 16px;
}

.breedtext1 {
  font-weight: 800;
  font-size: 20px;
  line-height: 144%;
  color: #5e606e;
}

.breedImages {
  width: 155px;
  height: 190px;
}

.breedboxs123 {
  height: 550px;
  overflow-y: scroll;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #23252d;
}

#style-1::-webkit-scrollbar {
  width: 8px;
  background-color: #23252d;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #5e606e;
}

.breedboxs124 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.dummy-data {
  width: 100px;
  height: 100px;
  border: #f92d1e 2px solid;
}

.bredd-span {
  font-weight: 500;
  font-size: 14px;
  line-height: 132%;
  color: #ffffff;
}
.breed-image2 {
  position: absolute;
  top: -34px;
  left: 320px;
}
.breed-psans {
  font-weight: 500;
  font-size: 14px;
  line-height: 132%;
  color: #5e606e;
}

.breed-btn {
  background: linear-gradient(180deg, #ff5043 0%, #f92d1e 100%);
  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  line-height: 132%;
  color: #ffffff;
  padding: 10px 0px;
}

.breed-btn:hover {
  color: #ffffff;
}

.Breed-model-image {
  background: rgba(26, 28, 35, 0.96);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(16px);
}
.breed-p {
  font-weight: 400;
  font-size: 26px;
  line-height: 14%;
  color: #ffffff;
}
.breed-imagess {
  background-image: url("../../Assets/Group 480.png");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  /* border: 2px solid red; */
  padding-top: 30px;
  padding-bottom: 30px;
}
.mint-pic {
  width: 200px;
}
.breed-sell-span {
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  color: #7e808d;
}
.plus-breed {
  width: 35px;
}
.boxes-breed {
  background: linear-gradient(90deg, #0f1116 0%, rgba(16, 17, 22, 0.25) 100%);
  border-radius: 8px;
}
@media (max-width: 1100px) {
  .breedImages {
    width: 80px;
  }
}
@media (max-width: 770px) {
  .breed-image2 {
    position: absolute;
    /* width: 200px; */
    top: -26px;
    left: 180px;
  }
}
@media (min-width: 401px) and (max-width: 480px) {
  .breedImages {
    width: 180px;
    height: 180px;
  }
  .breedboxs123 {
    height: 520px;
    scroll-behavior: auto;
    overflow-y: scroll;
  }
  .breedboxs124 {
    display: flex;
    flex-direction: column;
  }

  .Breed-box {
    background: #26282f;
    border-radius: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #b1b1b1;
  }
  .BreedBoxs {
    background: #000000;
    border-radius: 16px;
    box-shadow: 0px 0px 15px rgba(254, 75, 62, 0.25);
    width: 120px;
  }
  .breedboxs123 {
    height: 520px;
    overflow-y: scroll;
    -webkit-appearance: none;
  }
  .breedtext1 {
    font-weight: 800;
    font-size: 16px;
    line-height: 144%;
    color: #5e606e;
  }
  .plus-breed {
    width: 25px;
  }

  .BreedminiBox {
    background: linear-gradient(
      90deg,
      rgba(243, 68, 30, 0.5) 0%,
      rgba(243, 119, 30, 0.5) 48.96%,
      rgba(243, 68, 30, 0.5) 100%
    );
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #ffffff;
  }
  .breed-image2 {
    position: absolute;
    top: -26px;
    left: 120px;
  }
}
@media (min-width: 322px) and (max-width: 400px) {
  .breed-image2 {
    position: absolute;
    width: 110px;
    top: -26px;
    left: 120px;
  }
  .breedImages {
    width: 180px;
    height: 180px;
  }
  .breedboxs123 {
    height: 520px;
    scroll-behavior: auto;
    overflow-y: scroll;
  }
  .breedboxs124 {
    display: flex;
    flex-direction: column;
  }
  .BreedBoxs {
    background: #000000;
    border-radius: 16px;
    box-shadow: 0px 0px 15px rgba(254, 75, 62, 0.25);
    width: 120px;
  }
  .Breed-box {
    background: #26282f;
    border-radius: 13px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #b1b1b1;
  }
  .breedtext1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 144%;
    color: #5e606e;
  }
  .plus-breed {
    width: 25px;
  }
  .BreedminiBox {
    background: linear-gradient(
      90deg,
      rgba(243, 68, 30, 0.5) 0%,
      rgba(243, 119, 30, 0.5) 48.96%,
      rgba(243, 68, 30, 0.5) 100%
    );
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    color: #ffffff;
  }
}
@media (min-width: 240px) and (max-width: 321px) {
  .plus-breed {
    width: 25px;
  }
  .breedImages {
    width: 55px;
  }

  .breedImages {
    width: 155px;
    height: 155px;
  }
  .breedboxs123 {
    height: 520px;
    scroll-behavior: auto;
    overflow-y: scroll;
  }
  .breedboxs124 {
    display: flex;
    flex-direction: column;
  }
}
