.Breed-box {
    background: #26282F;
    border-radius: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B1B1B1;
}

/* .breedtext1 {
    font-weight: 600;
    font-size: 17px;
    line-height: 144%;
    color: #5E606E;
} */

.BreedBoxs {
    background: #000000;
    border-radius: 16px;
    box-shadow: 0px 0px 15px rgba(254, 75, 62, 0.25);
}

.BreedminiBox {
    background: linear-gradient(90deg, rgba(243, 68, 30, 0.5) 0%, rgba(243, 119, 30, 0.5) 48.96%, rgba(243, 68, 30, 0.5) 100%);
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    color: #FFFFFF;
}

.breedboxs12 {
    background: #1E0003;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(16px);
    border-radius: 16px;
}

.breedtext1 {
    font-weight: 600;
    font-size: 17px;
    line-height: 144%;
    color: #5E606E;
}

/* .breed-box11{
    width: 260px;
} */
.breedImages {
    width: 120px;
    height: 120px;
    /* position: absolute; */
    /* top: 200px; */



}

.breedboxs123 {

    /* box-sizing: border-box; */


    height: 520px;
    /* position: relative; */
    /* width: 280px; */
    /* overflow-x: hidden; */


    /* scroll-behavior: smooth;     */
    /* overflow-x: hidden;
    -webkit-appearance:inherit; */
    scroll-behavior: auto;
    overflow-y: scroll;

}
.breedboxs124{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}
.dummy-data{
width: 100px;
height: 100px;
border: #F92D1E 2px solid;
}

::-webkit-scrollbar {
    display: none;
}

.bredd-span {
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
    color: #FFFFFF;
}
.breed-image2{
    position: absolute;
    /* width: 280px; */
    top: -34px;
    /* bottom: 0; */
    /* border-top: 1px solid #FF5043; */
    /* border-image: linear-gradient(to top, #FF5043 50%, transparent 50%) 100% 1; */
    left: 320px;
    /* border-radius: 16px 16px 0px 0px; */
    /* z-index: -2; */
}
.breed-psans {
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
    color: #5E606E;
}

.breed-btn {
    background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
    line-height: 132%;
    color: #FFFFFF;
    padding: 10px 0px;
}

.breed-btn:hover {
    color: #FFFFFF;
}

.Breed-model-image {
    background: rgba(26, 28, 35, 0.96);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(16px);
}
.breed-p{
    font-weight: 400;
font-size: 26px;
line-height: 14%;
color: #FFFFFF;
}
.breed-imagess{
    background-image: url("../../Assets/Group 480.png");
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    /* border: 2px solid red; */
    padding-top: 30px;
    padding-bottom: 30px;
}
.mint-pic{
    width: 200px;
}
.breed-sell-span{
    font-weight: 400;
font-size: 16px;
line-height: 144%;
color: #7E808D;
}
.plus-breed{
    width: 35px;
}
.boxes-breed{
    background: linear-gradient(90deg, #0F1116 0%, rgba(16, 17, 22, 0.25) 100%);
border-radius: 8px;
}
@media(max-width: 1100px){
    .breedImages {
        width: 80px;
    }
}
@media(max-width: 770px){
    .breed-image2{
        position: absolute;
        /* width: 200px; */
        top: -26px;
        left: 180px;
    }


}
@media (min-width: 401px) and (max-width: 480px) {


    .breedImages {
        width: 180px;
        height: 180px;
        /* position: absolute; */
        /* top: 200px; */
    }
    .breedboxs123 {

        /* box-sizing: border-box; */


        height: 520px;
        /* position: relative; */
        /* width: 280px; */
        /* overflow-x: hidden; */


        /* scroll-behavior: smooth;     */
        /* overflow-x: hidden;
        -webkit-appearance:inherit; */
        scroll-behavior: auto;
        overflow-y: scroll;

    }
    .breedboxs124{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        /* align-items: center; */
        /* border: 2px solid red */

    }

    .Breed-box {
        background: #26282F;
        border-radius: 15px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #B1B1B1;
    }
    .BreedBoxs {
        background: #000000;
        border-radius: 16px;
        box-shadow: 0px 0px 15px rgba(254, 75, 62, 0.25);
        width: 120px;
    }
    .breedboxs123 {

        /* box-sizing: border-box; */
        height: 520px;
        /* width: 300px; */
        overflow-y: scroll;
        -webkit-appearance: none;
    }
    .breedtext1 {
        font-weight: 600;
        font-size: 14px;
        line-height: 144%;
        color: #5E606E;
    }
    .plus-breed{
        width: 25px;
    }

.BreedminiBox {
    background: linear-gradient(90deg, rgba(243, 68, 30, 0.5) 0%, rgba(243, 119, 30, 0.5) 48.96%, rgba(243, 68, 30, 0.5) 100%);
    font-weight: 500;
    font-size:14px;
    line-height: 100%;
    color: #FFFFFF;
}
.breed-image2{
    position: absolute;
    /* width: 170px; */
    top: -26px;
    left: 120px;
}
/* #breed-span2112{
    font-weight: 500;
    font-size:14px;
    line-height: 100%;
    color: #FFFFFF;
} */
}
@media(min-width: 322px) and (max-width: 400px){
    .breed-image2{
        position: absolute;
        width: 110px;
        top: -26px;
        left: 120px;
    }
    .breedImages {
        width: 180px;
        height: 180px;

    }
    .breedboxs123 {

        /* box-sizing: border-box; */


        height: 520px;
        /* position: relative; */
        /* width: 280px; */
        /* overflow-x: hidden; */


        /* scroll-behavior: smooth;     */
        /* overflow-x: hidden;
        -webkit-appearance:inherit; */
        scroll-behavior: auto;
        overflow-y: scroll;

    }
    .breedboxs124{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        /* align-items: center; */
        /* border: 2px solid red */

    }
    .BreedBoxs {
        background: #000000;
        border-radius: 16px;
        box-shadow: 0px 0px 15px rgba(254, 75, 62, 0.25);
        width: 120px;
    }
    /* .breedImages {
        width: 70px;
    } */
    .Breed-box {
        background: #26282F;
        border-radius: 13px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #B1B1B1;
    }
    .breedtext1 {
        font-weight: 400;
        font-size: 12px;
        line-height: 144%;
        color: #5E606E;
    }
    .plus-breed{
        width: 25px;
    }
    .BreedminiBox {
        background: linear-gradient(90deg, rgba(243, 68, 30, 0.5) 0%, rgba(243, 119, 30, 0.5) 48.96%, rgba(243, 68, 30, 0.5) 100%);
        font-weight: 500;
        font-size: 11px;
        line-height: 100%;
        color: #FFFFFF;
    }
    /* #breed-span2112{
        font-weight: 300;
        font-size:12px;
        line-height: 100%;
        color: #FFFFFF;
    } */
}
@media(min-width: 240px) and (max-width: 321px){
    /* #breed-span2112{
        font-weight: 500;
        font-size:17px;
        line-height: 100%;
        color: #FFFFFF;

    } */
    .plus-breed{
        width: 25px;
    }
    .breedImages {
        width: 55px;
    }

    .breedImages {
        width: 155px;
        height: 155px;

    }
    .breedboxs123 {

        /* box-sizing: border-box; */


        height: 520px;
        /* position: relative; */
        /* width: 280px; */
        /* overflow-x: hidden; */


        /* scroll-behavior: smooth;     */
        /* overflow-x: hidden;
        -webkit-appearance:inherit; */
        scroll-behavior: auto;
        overflow-y: scroll;

    }
    .breedboxs124{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        /* align-items: center; */
        /* border: 2px solid red */

    }

}