.btnMarketPlace,
.btnSell,
.btnListed,
.btnTransaction {
  color: #fff !important;
  padding: 10px 20px !important;
}
.nav-pills .nav-link.active {
  background: #5e606e !important;
  color: #fff !important;
  border-radius: 80px !important;
  padding: 10px 20px !important;
  border: #5e606e !important;
}
.navSection {
  border-radius: 80px !important;
  background: #32333e !important;
}

@media(max-width: 600px){
  .navSection {
    border-radius: 50px !important;
    background: #32333e !important;
    
  }
  .btnMarketPlace,
.btnSell,
.btnListed,
.btnTransaction {
  color: #fff !important;
  padding: 10px 6px !important;
}
.nav-pills .nav-link.active {
  background: #5e606e !important;
  color: #fff !important;
  border-radius: 80px !important;
  padding: 10px 10px !important;
  border: #5e606e !important;
}
}
