


.form-select {
    background: linear-gradient(180deg, rgba(26, 28, 35, 0.96) 0%, rgba(15, 17, 21, 0.96) 100%);
    /* box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08); */
    /* backdrop-filter: blur(16px); */
    border-radius: 10px;
    border: 1px solid #FD5043;
    padding: 20px 10px;
    color: white;
    /* font-size: 20px; */
    z-index: 0;
    /* width: 26
    0px; */
}

select {
    color:#fff;
    background: #FD5043;
    width: 200px;
    max-width: 100%;
    text-overflow: ellipsis;
}
option:checked {
    background-color: #eee;
    color:#555;
    width: 200px;
  }
  option:not(:checked) {
    background-color: white;
    color:white;
    width: 200px;
  }

  .bootstrap-select.btn-group .dropdown-menu li:hover{
    /* background-color: rgb(191, 82, 121); */
    color: white;
    width: 200px;
}


/* webrouk-custom-select {

  --primary-color: hsl(218, 95%, 54%);
  --bg-one: hsl(225, 6%, 13%);
  --bg-two: hsl(225, 6%, 18%);
  --inputs-bg: hsl(225, 6%, 15%);
  --inputs-disabled-bg: hsl(225, 6%, 17%);
  --text-color: hsl(225, 6%, 63%);
  --border-color: hsl(225, 6%, 21%);
  --success-color: hsl(135, 60%, 40%);
  --danger-color: hsl(355, 70%, 55%);
  --height-size: 48px;
  --radius-size: 0.63rem;
} */




option:not(:checked) {
  background-color: rgba(15, 17, 21, 0.96);
  width: 20%;
}

select:focus > option:checked {
  background:rgba(15, 17, 21, 0.96) !important;
}

select#newlocale {
  /* background-color: red; */
  background: rgba(15, 17, 21, 0.96);
}

/* select#newlocale option[value="/Staking"]   { background-color: red;   } */


.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  /* width: 100%; */
  /* max-width: 320px; */
  /* height: 50px; */
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #0ebeff;
  -ms-word-break: normal;
  word-break: normal;
}

.VectorDown-image{
  position: absolute;
  top: 135px;
  right: 50px;
  z-index: 1000;
  cursor: pointer;
}

select.selector option{
  width: 200px;
}

#newlocale, #newlocale option{
  text-overflow: ellipsis;
  max-width: 100%;
  text-overflow: ellipsis;
}
@media all and (max-width: 600px){
  select {
     width: 100%;
     max-width: 100%;
     text-overflow: ellipsis;
     box-sizing: border-box;
     display: inline-block;
  }
}