.mint-image {
    position: relative;
    top: -33px;

}

.mint-image2 {
    position: absolute;
    top: -32px;
    left: 300px;
}

.congrat-image {
    width: 370px;
}

.mint-boxs {
    background: #26282F;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(16px);
    border-radius: 16px;
}

#mint-pic {
    width: 280px;
    /* border: 2px solid #700000; */

}

.mint-pic1 {
    width: 154px;
    margin-left: 0px;
    margin-top: -18px;
}

.mint-boxes {
    background: linear-gradient(90deg, #1A1C23 0%, rgba(26, 28, 35, 0) 100%);
    border-radius: 8px;
    /* border: 2px solid red; */
}
.uperimg {
    background-image: url("../../Assets/Mask group.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 4px rgba(39, 214, 116, 0.7);
    ;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    /* display: flex;
    flex-direction: row; */

}
.model-i {
    width: 175px;
    height: 175px;
    box-shadow: 0px 0px 40px rgba(39, 214, 116, 0.7);
    /* margin-top: -8px; */
    /* box-shadow: 0px 0px 14px rgba(39, 214, 116, 0.7); */
}
.mint-span {
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #FFFFFF;
}

.mint-span1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 132%;
    color: #5E606E;
}
.box-Mint{
    background: #26282F;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
backdrop-filter: blur(16px);
border-radius: 16px;
width: 240px;
}
.boxess {
    Width: 120px;
    Height: 50px;
    background: #1C1F26;
    border: 2px solid #292C38;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    line-height: 132%;
    color: #FFFFFF;
}

.mintbtn {
    background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
    border-radius: 50px;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 20px;
    line-height: 33px;
    padding: 5px 87px;
    color: #FFFFFF;
}

.mintspan23 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B1B1B1;
}

.model-image {
    background-image: url("../../Assets/Mask group 1.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    /* border: 2px solid red; */
    background-color: rgba(26, 28, 35, 0.96);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
padding-bottom: -200px;
    width: 100%;

}
.model2-image{
    background-image: url("../../Assets/bgRed.png");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    /* border: 2px solid red; */
    background-color: rgba(26, 28, 35, 0.96);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);

    width: 100%;
}
.congrat-span {
    font-weight: 400;
    font-size: 20px;
    line-height: 144%;
    color: #FFFFFF;
    text-align: center;
}

.btn-congrats,.btn-no {
    background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
    line-height: 132%;
    padding: 8px 24px;
    color: #FFFFFF;

}

.btn1-congrats {
    background: linear-gradient(90deg, #565866 1.7%, #5E606E 100%);
    border-radius: 50px;
    font-weight: 600;
    font-size: 13px;
    line-height: 132%;
    padding: 8px 24px;
    color: #FFFFFF;

}

.btn2-congrats {
    border: 1px solid #7E808D;
    box-sizing: border-box;
    border-radius: 50px;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 24px;
    line-height: 132%;
    color: #7E808D;
}

.btn-congrats:hover,
.btn-no:hover {
    color: white;
}
.btn-no:hover{
    background: #1A1C23;
color: #7E808D;
}

.btn1-congrats:hover {
    color: white;
}

.btn2-congrats:hover {
    color: white;
}

.mint-Page-border {
    border-top: 2px solid #26282F;
}
.Mint-Time{
    font-weight: 500;
font-size: 14px;
line-height: 132%;
color: #FFFFFF;
}
.btn-yes{
    background: #1A1C23;
border-radius: 5px;
border-radius: 50px;
font-weight: 600;
font-size: 15px;
line-height: 132%;
padding: 8px 24px;
color: #7E808D;
}
.btn-yes:hover{
    background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);

color: #fff;
}
@media(max-width: 770px){
    .mint-image2 {
        position: absolute;
        top: -32px;
        left: 150px;
    }
}
@media(max-width: 480px) {
    #mint-pic {
        width: 220px;
    }

    .mint-image {
        position: relative;
        top: -25px;
        width: 150px;
    }

    .mint-span {
        font-weight: 500;
        font-size: 13px;
        line-height: 132%;
        color: #FFFFFF;
    }

    .mint-span1 {
        font-weight: 500;
        font-size: 13px;
        line-height: 132%;
        color: #5E606E;
    }

    .mintspan23 {
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: #B1B1B1;
    }

    .congrat-image {
        width: 300px;
    }
    .uperimg {
        background-image: url("../../Assets/Mask group.png");
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 14px rgba(39, 214, 116, 0.7);
        ;
        width: 200px;
        height: 200px;


    }
    .model-image {
        background-image: url("../../Assets/Mask group 1.png");
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size: cover;
        /* border: 2px solid red; */
        background-color: rgba(26, 28, 35, 0.96);
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);

        width: 100%;

    }
    .mint-image2 {
        position: absolute;
        top: -32px;
        left: 100px;

    }
    .congrat-span {
        font-weight: 400;
        font-size: 15px;
        line-height: 144%;
        color: #FFFFFF;
        text-align: center;
    }
}

@media(min-width: 300px) and (max-width: 400px) {
    #mint-pic {
        width: 180px;
    }

    .congrat-image {
        width: 230px;
    }
    .uperimg {
        background-image: url("../../Assets/Mask group.png");
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 14px rgba(39, 214, 116, 0.7);
        width: 200px;
        height: 200px;


    }
    .model-image {
        background-image: url("../../Assets/Mask group 1.png");
        background-repeat: no-repeat;
        background-position: center;
        /* background-size: cover; */
        /* border: 2px solid red; */
        background-color: rgba(26, 28, 35, 0.96);
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);

        width: 100%;

    }
    .mint-image2 {
        position: absolute;
        width: 140px;
        top: -22px;
        left: 80px;
    }
    .mint-span {
        font-weight: 300;
        font-size: 12px;
        line-height: 102%;
        color: #FFFFFF;
    }

    .mint-span1 {
        font-weight: 500;
        font-size: 12px;
        line-height: 102%;
        color: #5E606E;
    }
    .mintbtn {
        background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
        border-radius: 50px;
        font-style: normal;
        /* font-weight: bold; */
        font-size: 20px;
        line-height: 21px;
        padding: 5px 47px;
        color: #FFFFFF;
    }
    .congrat-span {
        font-weight: 400;
        font-size: 15px;
        line-height: 104%;
        color: #FFFFFF;
        text-align: center;
    }
    .btn1-congrats {
        background: linear-gradient(90deg, #565866 1.7%, #5E606E 100%);
        border-radius: 50px;
        font-weight: 300;
        font-size: 12px;
        line-height: 102%;
        padding: 8px 20px;
        color: #FFFFFF;

    }
    .btn-congrats {
        background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);;
        border-radius: 50px;
        font-weight: 300;
        font-size: 12px;
        line-height: 102%;
        padding: 8px 20px;
        color: #FFFFFF;

    }
    .btn2-congrats {
        border: 1px solid #7E808D;
        box-sizing: border-box;
        border-radius: 50px;
        font-weight: 300;
        font-size: 12px;
        padding: 10px 24px;
        line-height: 132%;
        color: #7E808D;
    }
}
@media(min-width: 240px) and (max-width: 299px){
    #mint-pic {
        width: 160px;
    }

    .congrat-image {
        width: 200px;
    }
    .mint-span {
        font-weight: 300;
        font-size: 10px;
        line-height: 102%;
        color: #FFFFFF;
        text-align: left;
    }

    .mint-span1 {
        font-weight: 500;
        font-size: 10px;
        line-height: 102%;
        color: #5E606E;
    }
    .boxess {
        Width: 90px;
        Height: 30px;
        background: #1C1F26;
        border: 2px solid #292C38;
        box-sizing: border-box;
        border-radius: 8px;
        font-weight: 500;
        font-size: 15px;
        line-height: 132%;
        color: #FFFFFF;
    }
    .mintbtn {
        background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
        border-radius: 50px;
        font-style: normal;
        /* font-weight: bold; */
        font-size: 20px;
        line-height: 21px;
        padding: 5px 47px;
        color: #FFFFFF;
    }
    .mintspan23 {
        font-weight: 500;
        font-size: 11px;
        line-height: 19px;
        color: #B1B1B1;
    }
}