.mystrybox {
    background: #26282F;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(16px);
    border-radius: 16px;
    height: 464px;
}

.steryboxes {
    background: #2B2D33;
    backdrop-filter: blur(16px);
    border-radius: 0px 0px 16px 16px;
}

.stery-span {
    font-weight: 500;
    font-size: 14px;
    line-height: 12%;
    color: #B1B1B1;
    text-align: left;
}

.stery-span1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14%;
    color: #7E808D;
    text-align: left;

}

.mystery-h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 132%;
    color: #5E606E;
}

.mystrybox-span1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B1B1B1;
}

.mystrybtn {
    background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
    line-height: 132%;
    color: #FFFFFF;
    padding: 10px 17px;

}
.mystery-image2{
    position: absolute;
    top: -34px;
    left: 290px;
}
.mystrey-imagess {
    background-image: url("../../Assets/Group 480.png");
    background-repeat: no-repeat;
    background-position:left;
    background-size:cover;
    /* background-attachment: fixed; */
    min-width:420px;
display: flex;
justify-self: center;
/* position: relative; */
/* margin-right: 200px; */
    /* padding-top: 50px; */
    /* border: 2px solid red; */
    /* padding-top: 30px; */
}
.second-modal-color{
    background-color: #464649;
}
/* .mint-pic{
    width: 200px;
} */
.text-infom{
    font-weight: 400;
font-size: 16px;
line-height: 144%;
color: #7E808D;
}
.mystrey-span21 {
    font-weight: 500;
    font-size: 18px;
    line-height: 42%;
    color: #FF5043;
}

.mystrey-span22 {
    font-weight: 500;
    font-size: 18px;
    line-height: 42%;
    color: #B1B1B1;
}

.mystrey-pic {
    width: 130px;
    /* position: absolute; */
    /* box-shadow: 0px 0px 120px 0.1px rgba(255, 18, 0, 0.5); */
}

.box-mystry {
    background: #26282F;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(16px);
    border-radius: 16px;
    width: 300px;
}

@media(max-width: 1050px) {
    .mystrybox {
        background: #26282F;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(16px);
        border-radius: 16px;
        height: auto;
    }

    .mybox-image {
        width: 300px;
    }
    .mystery-image2{
        position: absolute;
        top: -34px;
        left: 150px;
    }
}

@media(max-width: 600px) {
    .mybox-image {
        width: 240px;
    }
    .mystery-image2{
        position: absolute;
        top: -34px;
        width: 200px;
        left: 100px;
    }
    .stery-span {
        font-weight: 500;
        font-size: 12px;
        line-height: 12%;
        color: #B1B1B1;
        text-align: left;
    }

    .stery-span1 {
        font-weight: 400;
        font-size: 10px;
        line-height: 14%;
        color: #7E808D;
        text-align: left;

    }
}

@media(max-width: 400px) {
    .mybox-image {
        width: 170px;
    }
    .mystery-image2{
        position: absolute;
        top: -30px;
        width: 150px;
        left: 100px;
    }
    .stery-span {
        font-weight: 500;
        font-size: 12px;
        line-height: 12%;
        color: #B1B1B1;
        text-align: left;
    }

    .stery-span1 {
        font-weight: 400;
        font-size: 10px;
        line-height: 14%;
        color: #7E808D;
        text-align: left;

    }

}