.nft-h4 {
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: left;
}

.nft-p {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: left;
}

.nft-span {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.nft-boxx {
    width: 207px;
    /* height: 350px; */
    background: #3C2226;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.nfts-image {
    width: 180px;
}

.nfts-h6 {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    text-align: left;
    padding-left: 7px;
}

.nfts-pp {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}

.btnStakePage {
    background: linear-gradient(90deg, #565866 1.7%, #5E606E 100%);
    border-radius: 100px;
    font-style: normal;
    padding: 4px 12px;
    font-size: 15px;
    line-height: 17px;
    color: #ffffff;
}
.btnStakePage32{
    background: linear-gradient(90deg, #F92D1E 1.7%, #FF5043 100%);
border-radius: 80px;
font-style: normal;
padding: 4px 18px;
    font-size: 15px;
    line-height: 17px;
    color: #ffffff;
}
.btnStakePage:hover {
    color: #ffffff;
}

.bosCollection {
    background: rgba(41, 44, 56, 0.16);
    border: 2px solid #292C38;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    font-weight: 500;
    font-size: 15px;
    line-height: 132%;
    color: #FFFFFF;
}
.MyCollectionspan{
    font-weight: 500;
font-size: 17px;
line-height: 17px;
color: #5E606E;
}
.myNft-image2{
    position: absolute;
    width: 280px;
    top: -34px;
    bottom: 0;
    /* border-top: 1px solid #FF5043; */
    /* border-image: linear-gradient(to top, #FF5043 50%, transparent 50%) 100% 1; */
    left: 260px;
    border-radius: 16px 16px 0px 0px;
    z-index: -2;
}
#nft-text-span{
    font-weight: 600;
font-size: 26px;
line-height: 144%;
top: -34px;
color: #FFFFFF;
/* position: absolute; */
}
.mynfts-model-image{
    background: rgba(26, 28, 35);
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(16px);
    z-index: 20000;
}
.model-mynfts{
    font-weight: 400;
font-size: 15px;
line-height: 19px;
color: #B1B1B1;
text-align: center;
}
.model-boxs{
    background: #1A1C23;
border: 3px solid #292C38;
box-sizing: border-box;
border-radius: 8px;
}
.btn-mynftsss{
    background: linear-gradient(180deg, #FF5043 0%, #F92D1E 100%);
border-radius: 50px;
font-weight: 600;
font-size: 15px;
line-height: 132%;
color: #FFFFFF;
padding: 7px 30px;
}
.second-modal-p{
    font-weight: 400;
font-size: 19px;
color: #FFFFFF;
}
@media(max-width: 830px){
    .myNft-image2{
        position: absolute;
        width: 180px;
        top: -26px;
        left: 180px;
    }
}
@media(max-width: 770px){
    .nft-boxx {
        width: 306px;
        /* height: 350px; */
        background: #3C2226;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    .myNft-image2{
        position: absolute;
        width: 200px;
        top: -26px;
        left: 160px;
    }
}
@media(max-width: 480px){
    .nft-boxx {
        width: 180px;
        /* height: 350px; */
        background: #3C2226;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    .nfts-image {
        width: 150px;
    }
    .myNft-image2{
        position: absolute;
        width: 170px;
        top: -26px;
        left: 120px;
    }
}

@media(min-width: 300px) and (max-width: 376px){
    .nft-boxx {
        width: 140px;
        /* height: 350px; */
        background: #3C2226;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    .nfts-image {
        width: 110px;
    }
    .nfts-h6 {
        /* font-weight: 600; */
        font-size: 13px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: left;
    }
    .nft-h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: left;
    }
    .btnStakePage32{
        background: linear-gradient(90deg, #F92D1E 1.7%, #FF5043 100%);
    border-radius: 80px;
    font-style: normal;
    padding: 2px 10px;
        font-size: 12px;
        /* line-height: 8px; */
        color: #ffffff;
    }
    .btnStakePage {
        background: linear-gradient(90deg, #565866 1.7%, #5E606E 100%);
        border-radius: 100px;
        font-style: normal;
        padding: 2px 7px;
        font-size: 13px;
        /* line-height: 17px; */
        color: #ffffff;
    }
    .nft-p {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: left;
    }
    .myNft-image2{
        position: absolute;
        width: 150px;
        top: -26px;
        left: 70px;
    }
}

.inputBox::placeholder{
color: #fff;
}
.inputBox{
    padding: 5px 10px !important;
}
@media(min-width: 240px) and (max-width: 299px){
    .nft-h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: left;
    }
    .nft-p {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #FFFFFF;
        text-align: left;
    }
    .nft-span {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
    }
    .nft-boxx {
        width: 120px;
        /* height: 350px; */
        background: #3C2226;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    .nfts-image {
        width: 100px;
    }
    .btnStakePage32{
        background: linear-gradient(90deg, #F92D1E 1.7%, #FF5043 100%);
    border-radius: 80px;
    font-style: normal;
    padding: 2px 10px;
        font-size: 10px;
        /* line-height: 8px; */
        color: #ffffff;
    }
    .btnStakePage {
        background: linear-gradient(90deg, #565866 1.7%, #5E606E 100%);
        border-radius: 100px;
        font-style: normal;
        padding: 2px 5px;
        font-size: 11px;
        /* line-height: 17px; */
        color: #ffffff;
    }
    .nfts-h6 {
        font-weight: 300;
        font-size: 10px;
        line-height: 80%;
        color: #FFFFFF;
        text-align: left;
        padding-left: 2px;
    }
}