.tabset{
    background-color: rgba(26, 28, 35, 0.96);
      border: 2 px solid #FF5043;
    border-radius: 24px;
    text-align: left;
  }
  .tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
    text-align: left;
    display: flex;
    justify-content: flex-start;
  }

  .tabset .tab-panel {
    display: none;
    /* text-align: left; */
  }

  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;

  }

  /*
   Styling
  /* */
  .logtext {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #66676A;
    font-weight: 300;
    font-size: 18px;

  }

  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 10px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    /* text-align: left; */
  }



  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #FFFFFF;
  }


  .tabset > input:checked + label {

    border-bottom: 3px solid #FF5043;
    margin-bottom: -1px;
  }

  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #32333E;
    text-align: left;

  }

  /*
   Demo purposes only
  */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    /* text-align: left; */

  }

  #log-span{
    font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #66676A;
  }

  #log-span1{
    font-weight: 400;
font-size: 34px;
line-height: 40px;
color: #FFFFFF;
  }

  /* second Tap */
  .tabs-container {

    border-radius: 50px;
  }

  .tabs-container .tabs .tab, .tabs-container .tabs input[type=radio] {
    display: none;
    text-align: left;

  }
  .tabs{
    background-color: black;
    color: #66676A;
    text-align: left;


  }
  .tabs-container .tabs input[type=radio] + label {
    display: inline-block;
    margin: 0;
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    opacity: 0.6;
    cursor: pointer;
    user-select: none;
    text-align: left;


  }

  .tabs-container .tabs input[type=radio]:checked + label {
    border-bottom: 3px solid #FF5043;
    opacity: 1;
    text-align: left;

  }

  .tabs-container .tabs .tab {
    margin: 0;
    padding: 2rem 0;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: #000000;
    text-align: left;
  }

  .tabs input:first-of-type:checked + label ~ .tab:first-of-type,
  .tabs input:nth-of-type(2):checked + label ~ .tab:nth-of-type(2),
  .tabs input:nth-of-type(3):checked + label ~ .tab:nth-of-type(3) {
    display: block;

  }
  /* second tap */

  .log-table-tr{
    font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #5E606E;
  }
  .log-tr-box{
    background: rgba(68, 73, 88, 0.96);
border-radius: 20px;
/* margin-top: 30px; */

  }
  .table-log {
    border-collapse: separate;
    border-spacing:0 15px;
}
.log-text-td{
  font-weight: 300;
font-size: 20px;
line-height: 24px;
padding-top: 20px;
color: #FFFFFF;
}
.log-image-size{
  width: 57px;
}
@media(max-width: 600px){
  .table-log {
    overflow-y: hidden;
    white-space: nowrap;
    /* width:330px; */
  overflow-x: auto;
}
.table-log th td{
  display: inline-block;
    vertical-align: middle;
}
.scroll-tab{
  overflow-y: hidden;
    white-space: nowrap;
    overflow-x: auto;
}
.logtext {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #66676A;
  font-weight: 300;
  font-size: 12px;

}
.tabs-container .tabs input[type=radio] + label {
  display: inline-block;
  margin: 0;
  /* padding: 0.5rem 1.5rem; */
  font-size: 0.9rem;
  /* opacity: 0.8; */
  cursor: pointer;
  user-select: none;
  text-align: left;
}
.log-table-tr{
  font-weight: 700;
font-size: 15px;
line-height: 24px;
color: #5E606E;
}
.log-image-size{
  width: 47px;
}
.log-text-td{
  font-weight: 300;
font-size: 14px;
line-height: 24px;
padding-top: 20px;
color: #FFFFFF;
}
}