.footercolorsss {
    background-color: #14151F;
/* bottom: 0; */
/* position: fixed; */
}
#footer-span {
    font-weight: 400;
font-size: 20px;
line-height: 100%;
color: #FFFFFF;
}

@media(max-width: 480px){
    #footer-span {
        font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
    }
}